<link rel="stylesheet" href="styles/app.css" />
<div class="science-app" data-app-name="package">
  <h2>Hello AIP Science App!</h2>
  <p>
    Congratulations! You've successfully created your first
    AIP Science App! Now you can get started added you app's
    functionality.
  </p>
  <p>
    Edit this file at <code>app/app.html</code>. You can add
    JavaScript code at <code>app/scripts/app.js</code>.
  </p>
  <p>
    To incorporate third party libraries, you can download the
    library to <code>app/vendor</code>.
    Reference those libraries in your code or template with
    <code>sites/all/libraries/&lt;your-app-name&gt;/path/to/library</code>.
  </p>
</div>
<script type="text/javascript" src="scripts/app.js"></script>
